:root, body[theme="light"] {
	--col-text: rgb(0, 0, 0);
	--col-text-hint: rgba(0, 0, 0, 0.2);
	--col-text-tags: rgba(0, 0, 0, 0.9);
	--col-text-missing-value: rgba(0, 0, 0, 0.5);
	--col-text-drag-drop: rgb(220, 220, 220);
	--col-text-filter-active: rgb(209, 136, 0);
	--col-text-filter-adjacent: rgb(0, 135, 224);
	--col-text-radio-inactive: rgba(0, 0, 0, 0.35);

	--col-text-attr-key: rgb(196, 117, 0);
	--col-text-attr-value: rgb(128, 128, 128);
	--col-text-attr-value-null: rgb(155, 78, 255);
	--col-text-attr-value-number: rgb(80, 139, 80);
	--col-text-attr-value-bool: rgb(65, 125, 255);

	--border-node: none;
	--border-node-items: thin solid rgba(128, 128, 128, 0.1);
	--border-attr: thin solid rgba(128, 128, 128, 0.1);
	--border-attr-keyvalue: none;
	--border-tags: thin solid rgba(128, 128, 128, 0.3);

	--border-textfield-focus: thin solid rgb(34, 104, 255);

	--col-bg-page: rgb(229, 229, 229);
	
	--col-bg-radio-hover: rgba(128, 128, 128, 0.05);
	--col-bg-radio-checked: rgba(128, 128, 128, 0.25);
	
	--col-bg-add-attr-hover: rgba(128, 128, 128, 0.05);
	
	--col-bg-noscript: rgba(255, 0, 0, 0.25);

	--col-bg-filter: rgb(248, 248, 248);
	--col-bg-settings: rgba(248, 248, 248, 0.95);
	--col-bg-settings-header: rgb(252, 252, 252);
	
	--col-bg-node: rgb(248, 248, 248);
	--col-bg-attr: rgb(240, 240, 240);
	--col-bg-tags: rgba(0, 0, 0, 0.05);

	--col-bg-drag-drop: rgb(0, 0, 0, 0.7);
	
	--col-scroll-settings: rgb(230, 230, 230);

	--shadow-node: 2px 2px 16px 2px rgba(0, 0, 0, 0.10);
	--shadow-attr: 
		0  5px 5px -5px rgba(0, 0, 0, 0.1) inset,
		0 -5px 5px -5px rgba(0, 0, 0, 0.1) inset;
	--shadow-settings: 2px 2px 12px 0 rgba(0, 0, 0, 0.25);

	--col-line-node-connect: rgb(192, 192, 192);
}

@media (prefers-color-scheme: dark) {
	:root {
		--col-text: rgb(220, 220, 220);
		--col-text-hint: rgba(220, 220, 220, 0.2);
		--col-text-tags: rgba(220, 220, 220, 0.9);
		--col-text-missing-value: rgba(220, 220, 220, 0.5);
		--col-text-drag-drop: rgb(220, 220, 220);
		--col-text-filter-active: rgb(219, 143, 0);
		--col-text-filter-adjacent: rgb(0, 135, 224);
		--col-text-radio-inactive: rgba(220, 220, 220, 0.5);

		--col-text-attr-key: rgb(200, 150, 75);
		--col-text-attr-value: rgb(170, 170, 170);
		--col-text-attr-value-null: rgb(155, 78, 255);
		--col-text-attr-value-number: rgb(153, 216, 153);
		--col-text-attr-value-bool: rgb(65, 125, 255);

		--border-node: none;
		--border-node-items: thin solid rgba(128, 128, 128, 0.2);
		--border-attr: thin solid rgba(128, 128, 128, 0.25);
		--border-attr-keyvalue: none;
		--border-tags: thin solid rgba(128, 128, 128, 0.5);

		--border-textfield-focus: thin solid rgb(34, 104, 255);

		--col-bg-page: rgb(24, 24, 24);

		--col-bg-radio-hover: rgba(128, 128, 128, 0.1);
		--col-bg-radio-checked: rgba(128, 128, 128, 0.25);

		--col-bg-add-attr-hover: var(--col-bg-node);

		--col-bg-noscript: rgba(255, 0, 0, 0.5);

		--col-bg-filter: rgb(48, 48, 48);
		--col-bg-settings: rgba(48, 48, 48, 0.95);
		--col-bg-settings-header: rgb(56, 56, 56);
		
		--col-bg-node: rgb(48, 48, 48);
		--col-bg-attr: rgb(40, 40, 40);
		--col-bg-tags: rgba(0, 0, 0, 0.15);

		--col-bg-drag-drop: rgb(0, 0, 0, 0.5);
		
		--col-scroll-settings: rgb(64, 64, 64);
		
		--shadow-node: 2px 2px 16px 2px rgba(0, 0, 0, 0.25);
		--shadow-attr: 
			0  5px 5px -5px rgba(0, 0, 0, 0.15) inset,
			0 -5px 5px -5px rgba(0, 0, 0, 0.15) inset;
		--shadow-settings: 2px 2px 12px 0 rgba(0, 0, 0, 0.25);

		--col-line-node-connect: rgb(64, 64, 64);
	}
}

body[theme="dark"] {
	--col-text: rgb(220, 220, 220);
		--col-text-hint: rgba(220, 220, 220, 0.2);
		--col-text-tags: rgba(220, 220, 220, 0.9);
		--col-text-missing-value: rgba(220, 220, 220, 0.5);
		--col-text-drag-drop: rgb(220, 220, 220);
		--col-text-filter-active: rgb(219, 143, 0);
		--col-text-filter-adjacent: rgb(0, 135, 224);
		--col-text-radio-inactive: rgba(220, 220, 220, 0.5);

		--col-text-attr-key: rgb(200, 150, 75);
		--col-text-attr-value: rgb(170, 170, 170);
		--col-text-attr-value-null: rgb(155, 78, 255);
		--col-text-attr-value-number: rgb(153, 216, 153);
		--col-text-attr-value-bool: rgb(65, 125, 255);

		--border-node: none;
		--border-node-items: thin solid rgba(128, 128, 128, 0.2);
		--border-attr: thin solid rgba(128, 128, 128, 0.25);
		--border-attr-keyvalue: none;
		--border-tags: thin solid rgba(128, 128, 128, 0.5);

		--border-textfield-focus: thin solid rgb(34, 104, 255);

		--col-bg-page: rgb(24, 24, 24);

		--col-bg-radio-hover: rgba(128, 128, 128, 0.1);
		--col-bg-radio-checked: rgba(128, 128, 128, 0.25);

		--col-bg-add-attr-hover: var(--col-bg-node);

		--col-bg-noscript: rgba(255, 0, 0, 0.5);

		--col-bg-filter: rgb(48, 48, 48);
		--col-bg-settings: rgba(48, 48, 48, 0.95);
		--col-bg-settings-header: rgb(56, 56, 56);
		
		--col-bg-node: rgb(48, 48, 48);
		--col-bg-attr: rgb(40, 40, 40);
		--col-bg-tags: rgba(0, 0, 0, 0.15);

		--col-bg-drag-drop: rgb(0, 0, 0, 0.5);
		
		--col-scroll-settings: rgb(64, 64, 64);
		
		--shadow-node: 2px 2px 16px 2px rgba(0, 0, 0, 0.25);
		--shadow-attr: 
			0  5px 5px -5px rgba(0, 0, 0, 0.15) inset,
			0 -5px 5px -5px rgba(0, 0, 0, 0.15) inset;
		--shadow-settings: 2px 2px 12px 0 rgba(0, 0, 0, 0.25);

		--col-line-node-connect: rgb(64, 64, 64);
}

body[theme="print"] {
	--col-text: rgb(0, 0, 0);
	--col-text-hint: rgba(0, 0, 0, 0.2);
	--col-text-tags: rgba(0, 0, 0, 0.9);
	--col-text-missing-value: rgba(0, 0, 0, 0.5);
	--col-text-drag-drop: rgb(220, 220, 220);
	--col-text-filter-active: rgb(209, 136, 0);
	--col-text-filter-adjacent: rgb(0, 135, 224);
	--col-text-radio-inactive: rgba(0, 0, 0, 0.35);

	--col-text-attr-key: rgb(196, 117, 0);
	--col-text-attr-value: rgb(64, 64, 64);
	--col-text-attr-value-null: rgb(155, 78, 255);
	--col-text-attr-value-number: rgb(80, 139, 80);
	--col-text-attr-value-bool: rgb(65, 125, 255);

	--border-node: thin solid rgb(164, 164, 164);
	--border-node-items: thin solid rgba(128, 128, 128, 0.2);
	--border-attr: thin solid rgba(128, 128, 128, 0.1);
	--border-attr-keyvalue: none;
	--border-tags: thin solid rgba(128, 128, 128, 0.3);

	--border-textfield-focus: thin solid rgb(34, 104, 255);

	--col-bg-page: rgb(255, 255, 255);
	
	--col-bg-radio-hover: rgba(128, 128, 128, 0.05);
	--col-bg-radio-checked: rgba(128, 128, 128, 0.25);
	
	--col-bg-add-attr-hover: rgba(128, 128, 128, 0.05);
	
	--col-bg-noscript: rgba(255, 0, 0, 0.25);

	--col-bg-filter: rgb(248, 248, 248);
	--col-bg-settings: rgba(248, 248, 248, 0.95);
	--col-bg-settings-header: rgb(252, 252, 252);
	
	--col-bg-node: rgb(255, 255, 255);
	--col-bg-attr: rgb(240, 240, 240);
	--col-bg-tags: rgba(0, 0, 0, 0.05);

	--col-bg-drag-drop: rgb(0, 0, 0, 0.7);
	
	--col-scroll-settings: rgb(230, 230, 230);

	--shadow-node: none;
	--shadow-attr: none;
	--shadow-settings: 2px 2px 12px 0 rgba(0, 0, 0, 0.25);

	--col-line-node-connect: rgb(128, 128, 128);
}


/* ----- Setup ----- */

* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	width: auto;
	color: var(--col-text);
	background-color: var(--col-bg-page);
}

.icon-button {
	aspect-ratio: 1;
	border: none;
	background-color: transparent;
	opacity: 0.5;
	color: var(--col-text);
	padding: 0;
}

.icon-button:hover {
	opacity: 1;
}

/* ----- NoScript Message ----- */

#noscript {
	padding: 1em 2em;
	background-color: var(--col-bg-noscript);
	text-align: center;

	border-radius: 1em;
}

/* ----- Drag and drop overlay ----- */

#drag-overlay {
	position: fixed;
	inset: 0;

	z-index: 20;

	font-size: 2rem;

	gap: 1em;

	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	
	color: var(--col-text-drag-drop);
	background-color: var(--col-bg-drag-drop);
}

body:not(.drag) > #drag-overlay {
	display: none;
}

#drag-overlay .material-icons {
	font-size: 3rem;
}

#drag-overlay div {
	display: flex;
	flex-flow: column nowrap;
	gap: 0.5em;
}

#drag-overlay #drop-information {
	font-size: 0.75em;
}

/* ----- Settings Menu ----- */

#settings-panel,
#settings-show {
	position: fixed;
	top: 0;
	left: 0;
	margin: 1rem;
}

#settings-panel {
	max-width: 40ch;
	max-height: calc(100vh - 1rem * 2);
	z-index: 10;
	
	display: flex;
	flex-flow: column nowrap;
	overflow: hidden;

	border-radius: 0.5em;
	box-shadow: var(--shadow-settings);

	transform: translateX(calc(-100% - 2rem));
	transition: transform 250ms cubic-bezier(.17,.84,.44,1);
}

#settings-wrapper {
	overflow: hidden auto;
	
	font-size: 0.8rem;
	
	scrollbar-width: thin;
	scrollbar-color: var(--col-scroll-settings) var(--col-bg-settings);

	background-color: var(--col-bg-settings);
}

#settings.show #settings-panel {
	transform: translateX(0);
}

#settings-container {
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;

	padding-top: 1em;
}

#settings-container > * {
	padding: 0.5em 1em;
}

#settings-container > :last-child {
	padding-bottom: 1em;
}

#settings-title {
	position: sticky;
	top: 0;

	background-color: var(--col-bg-settings-header);

	font-size: large;
	font-weight: 600;
	display: flex;
	
	/* margin-bottom: 0.5em; */
	padding: 0.5em 0.75em;

	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

#settings-title span {
	margin-inline: auto;
}

#settings-show {
	z-index: 5;
	opacity: 1;
	transition: opacity 150ms ease-in-out;
}

#color-theme-toggle {
	rotate: var(--rotation, 0);
}

#settings.show #settings-show {
	opacity: 0;
}

label:hover > .icon-button {
	opacity: 1;
}

#active-file-type {
	margin-left: auto;

	font-family: 'Courier New', Courier, monospace;

	font-size: 0.75rem;
}

label {
	display: flex;
	align-items: center;
	gap: 0.75em;
}

.custom-checkbox > .icon-button {
	font-size: 1.25rem;
}

.custom-checkbox > input[type="checkbox"],
.custom-radiobutton input[type="radio"],
#save-to-file {
	display: none;
}

.custom-checkbox > input[type="checkbox"] + .icon-button::before {
	content: "check_box_outline_blank";
}

.custom-checkbox > input[type="checkbox"]:checked + .icon-button::before {
	content: "check_box";
}

.custom-radiobutton {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.custom-radiobutton input[type="radio"] + span {
	padding: 0.3em 0.8em;

	border: thin solid var(--col-bg-radio-checked);
}

.custom-radiobutton > label:nth-of-type(1) > span {
	border-top-left-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
}

.custom-radiobutton > label > span {
	color: var(--col-text-radio-inactive);
}

.custom-radiobutton > label:hover > span {
	background-color: var(--col-bg-radio-hover);
}

.custom-radiobutton > label:last-of-type > span {
	border-top-right-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
}

.custom-radiobutton > label > input[type="radio"]:checked + span {
	background-color: var(--col-bg-radio-checked);
	color: var(--col-text);
}

/* ----- Node Placeholder Text ----- */

.node-placeholder {
	text-align: center;
}

/* ----- Node Tree Structure ----- */

#container {
	margin-inline: auto;
	width: fit-content;
	padding: 2rem;

	--node-gap: 4rem;
}

.node {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

#container.horizontal .node {
	flex-flow: row nowrap;
}

.node.hidden {
	display: none;
}

.no-children > .node-children {
	display: none;
}

.node-children {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;

	position: relative;
	padding-top: var(--node-gap);

	gap: 2rem;
}

#container.horizontal .node-children {
	padding-top: 0;
	padding-left: var(--node-gap);
	flex-flow: column nowrap;
}

.node-head {
	/* margin: 0em 0.5em; */
	background-color: var(--col-bg-node);

	display: flex;
	flex-flow: column nowrap;
	gap: 0.25em;

	border-radius: 0.5em;
	border: var(--border-node);

	box-shadow: var(--shadow-node);
}

.node-head > * {
	padding: 0.25em 1em;
}

#container:not(.edit-enable) .node-head.no-attributes .attributes,
.node-head:not(.no-attributes) .no-attributes-label,
#container:not(.edit-enable) .node-head.no-value #value,
.node-head:not(.no-value) .no-value-label,
#container:not(.edit-enable) .node-head.no-tags #tags,
#container:not(.show-missing-attributes) .no-attributes-label,
#container:not(.show-missing-values) .no-value-label,
#container.edit-enable .no-attributes-label,
#container.edit-enable .no-value-label {
	display: none;
}

.node-head #title {
	padding-inline: 0.5em;

	display: flex;
	flex-flow: row nowrap;
	align-items: baseline;
	gap: 0.5em;
}

.node-head #title-type {
	font-size: 1.25rem;
	font-weight: 800;
	color: var(--col-text-hint);
	letter-spacing: 2px;
	user-select: none;

	line-height: 1;
}

.node-head > * + * {
	border-top: var(--border-node-items);
}

.node-head #title-name {
	font-family: 'Courier New', Courier, monospace;
	font-weight: 600;

	margin-right: 0.5em;
}

.no-attributes-label,
.no-value-label {
	font-size: 0.75rem;
	font-weight: 700;

	color: var(--col-text-missing-value);
}

/* ----- Attribute Table ----- */

.node-head > details {
	padding-inline: 0;
}

.node-head > details > * {
	padding: 0.25em 1em;
}

.node-head > details > summary {
	user-select: none;
	cursor: pointer;

	padding-left: 0.5em;

	display: flex;
	align-items: center;
}

.node-head > details > summary::before {
	content: "chevron_right";
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 1.5em;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-moz-font-feature-settings: 'liga';
	-moz-osx-font-smoothing: grayscale;

	rotate: 0deg;

	transition: rotate 100ms ease-in-out;
}

.node-head > details[open] > summary::before {
	rotate: 90deg;
}

.attribute-container {
	width: 100%;
	background-color: var(--col-bg-attr);	
	padding-block: 0.25em;

	box-shadow: var(--shadow-attr);
}

#attributes-table {
	border-collapse: collapse;
	width: 100%;
}

#attributes-table td {
	max-width: 20ch;
	line-break: anywhere;

	padding-block: 0.25em;
}

#attributes-table td.attr-key {
	text-align: right;
	vertical-align: top;
	padding-right: 0.5em;

	border-right: var(--border-attr-keyvalue);

	color: var(--col-text-attr-key);
}

#attributes-table td.attr-value {
	color: var(--col-text-attr-value);
	padding-left: 0.5em;
}

#attributes-table tr + tr > td {
	border-top: var(--border-attr);
}


/* ----- Attribute Value Types ----- */

td.attr-value.attr-value-null {
	color: var(--col-text-attr-value-null) !important;
}

td.attr-value.attr-value-number {
	color: var(--col-text-attr-value-number) !important;
}

td.attr-value.attr-value-bool {
	color: var(--col-text-attr-value-bool) !important;
}

/* ----- Tags ----- */

.node-head #tags {
	display: flex;
	flex-flow: row wrap;

	padding-inline: 0.25em;
}

#tags > .node-tag {
	display: inline-flex;
	flex-flow: row nowrap;
	align-items: flex-start;

	font-size: 0.75rem;
	padding: 0.2ch 1.2ch;
	margin: 0.2em;

	color: var(--col-text-tags);

	background-color: var(--col-bg-tags);
	border: var(--border-tags);

	border-radius: 2em;
}

/* ----- Values ----- */

#value {
	display: flex;

	align-items: flex-start;
	gap: 0.5em;

	padding-left: 0.5em;
}

.value-label {
	font-size: 0.8rem;
	padding-top: calc(1rem - 1em);
	font-weight: 700;

	color: var(--col-text-hint);
}

#value #value-type {
	display: none;
}

/* ----- Filter Options ----- */

#container:not(.node-settings) .dropdown {
	display: none;
}

.dropdown {
	position: relative;
	margin-left: auto;
}

.dropdown > #filter-button {
	font-size: 1.2rem;
}

.node.filter-active > .node-head #filter-button {
	color: var(--col-text-filter-active);
}

.node.filter-active > .node-children > .node:not(.filter-active) > .node-head #filter-button {
	color: var(--col-text-filter-adjacent);
}

.dropdown:not(.show) > div {
	display: none
}

.dropdown > div {
	position: absolute;
	top: 100%;
	right: 0;
	z-index: 5;

	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;

	border-radius: 0.5em;

	overflow: hidden;

	width: max-content;

	background-color: var(--col-bg-filter);

	box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.2);
}

.dropdown > div > * {
	padding: 0.5em 1em;
}

.dropdown > div > button {
	background-color: transparent;
	border: none;

	color: var(--col-text);
}

.dropdown > div > button:hover {
	background-color: rgba(128, 128, 128, 0.2);
}

/* ----- Connecting Lines ----- */

.node-connection {
	stroke: var(--col-line-node-connect);
	stroke-width: 1.5;
	stroke-linecap: round;

	z-index: -2;
}

/* ----- Edit Tools ----- */

#container:not(.edit-enable) .edit-button {
	display: none;
}

#tags .icon-button {
	padding: 0.2ch;

	font-size: 0.75rem;
}

#tags .node-tag .edit-button {
	margin-right: 0.2ch;
}

#tags #add-tag-button {
	order: 1;
	aspect-ratio: 1;
	align-items: center;
}

.attribute-container > .edit-button {
	aspect-ratio: unset;
	margin-top: 0.25em;
}

.attribute-container > .edit-button:hover {
	background-color: var(--col-bg-add-attr-hover);
}

.tag-text-field {
	width: 15ch;
}

.attribute-container #add-attr-button {
	width: 100%;
}

.attr-text-field,
#title .name-text-field,
#value .value-text-field {
	width: 20ch;
	background-color: transparent;
	color: inherit;
	border: var(--border-attr);
	padding: 0.25em 0.5em;
}

.tag-text-field:focus-within,
.attr-text-field:focus-within,
#title .name-text-field:focus-within,
#value .value-text-field:focus-within {
	outline: var(--border-textfield-focus);
}

#attributes-table .edit-button .icon-button,
#title .edit-button,
#value .edit-button {
	font-size: inherit;
}

#attributes-table .edit-button .icon-button {
	margin-right: 0.5em;
}

#title .edit-button,
#value .edit-button {
	align-self: center;
}
